@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*Generales*/
.titulos{
    display: inline-block;
    width: 90%;
    font-size: 1.2rem;
    color: #6d6d6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: start;
}
a{
    text-decoration: none !important ;
}






/*Main*/
.main{
    margin-top: 120px;

}

/*search*/
.search{
    width: 100%;
    height: 250px;
    background-image: url('../img/Fondo.png');
    background-position: center;
    background-size: cover;
    background-color: rgba(251, 255, 0, 0.2);
    background-blend-mode: soft-light;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.search__input{
    width: 75%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    font-size: 1rem;
    padding-left: 15px;
    color: #000;
    font-weight: 400;
}
.search__input::placeholder{
    font-size: 1rem;
    color: #818181;
}
.search__btn{
    width: 45px;
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius:5px ;
    margin-left: 2px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.search__btn svg{
    width: 60%;
    height: 60%;
    fill: #010101bd; 
}


/*bares*/
.bares{
    margin-top: 70px;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/*carrusel*/
.carrusel{
    width: 90%;
    height: 100%;
    margin-top: 13px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
}
.carrusel::-webkit-scrollbar {
    display: none;
}
/**/
.carruselBox{
    min-width: 250px;
    height: 95%;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
}
.carruselBox__img{
    width: 100%;
    height: 70%;
}
.carruselBox__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carusselBox__info{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}
.carusselBox__info-p{
    display: inline-block;
    width: 90%;
    color: #3d3d3d;
    font-size: 1.1rem;
    text-align: start;
    font-weight: 500;
}
.carusselBox__info-d{
    display: inline-block;
    width: 90%;
    color: #5e5c5c;
    font-size: 1rem;
    text-align: end;
    padding: 5px 7px;
    border-radius: 4px;
    margin-right: 10px;
}
/*carusselBox__star*/
.carusselBox__star{
    width: 90%;
    height: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.circleStar{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fcd62b;
    margin-right: 3px;
}

/*reco*/
.reco{
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    background-color: #19e75a;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}
.recoTitulo{
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #fff;
}
.recoText{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    padding: 15px 20px;
}
/*recoForm*/
.recoForm{
    width: 90%;
    height: max-content;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.recoForm__input{
    width: 80%;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 15px;
    color: #fff;
    padding-left: 10px;
    font-size: 1.1rem;
}
.recoForm__textarea{
    max-width: 80%;
    height: 150px;
    border: none;
    outline: none;
    background: transparent;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-bottom: 15px;
    color: #fff;
    padding:  5px 10px;
    font-size: 1.1rem;

}

.recoBtn{
    width: 50%;
    height: 45px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 500;
}

.recoForm__input::placeholder , .recoForm__textarea::placeholder{
    color: #ffffffcb;
    font-size: 1rem;
}

/*FOOTER*/
.footer{
    width: 100%;
    height: 35vh;
    margin-top: 40px;
    background-color: #000000af;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__redes{
    width: 90%;
    height: 40%;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.footer__redes-box{
    width: 35px;
    height: 35px;
}
.footer__redes-box svg{
    fill:#fad331;
}
.footer__text{
    width: 90%;
    height: 30%;
    margin-top: 15px;
    display: grid;
    place-items: center;
}
.footer__text h3{
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


